.selection-font > a:visited {
  color: white;
}

.selection-outer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #386356;
  height: 30vh;
  color: white;
}

.about-me-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25%;
  height: 100%;
}

.about-me-section:hover {
  -webkit-animation-name: bounceWord;
          animation-name: bounceWord;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bounceWord {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-85px);
            transform: translateY(-85px);
  }
  60% {
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
  }
}

@keyframes bounceWord {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-85px);
            transform: translateY(-85px);
  }
  60% {
    -webkit-transform: translateY(-35px);
            transform: translateY(-35px);
  }
}

.education-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25%;
  height: 100%;
}

.education-section:hover {
  -webkit-animation-name: spinWord;
          animation-name: spinWord;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes spinWord {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

@keyframes spinWord {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
}

.career-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25%;
  height: 100%;
}

.career-section:hover {
  -webkit-animation-name: enlargeWord;
          animation-name: enlargeWord;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes enlargeWord {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes enlargeWord {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.contact-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 25%;
  height: 100%;
}

.contact-section:hover {
  -webkit-animation-name: shineWord;
          animation-name: shineWord;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes shineWord {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #838383, 0 0 40px #838383, 0 0 50px #838383, 0 0 60px #838383, 0 0 70px #838383;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #999999, 0 0 40px #999999, 0 0 50px #999999, 0 0 60px #999999, 0 0 70px #999999, 0 0 80px #999999;
  }
}

@keyframes shineWord {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #838383, 0 0 40px #838383, 0 0 50px #838383, 0 0 60px #838383, 0 0 70px #838383;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #999999, 0 0 40px #999999, 0 0 50px #999999, 0 0 60px #999999, 0 0 70px #999999, 0 0 80px #999999;
  }
}

.selection-font {
  font-size: 300%;
}
/*# sourceMappingURL=index.css.map */